# Dependencies
node_modules

# Build output
dist

# Development files
.git
.gitignore
*.md
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test files
tests
e2e
*.spec.ts
playwright.config.ts
playwright-report
test-results
